AUTOMARKETING_DATABASE_URL=postgresql+psycopg://automarketing:automarketing@127.0.0.1:5432/automarketing
AUTOMARKETING_DATABASE_SCHEMA=automarketing
AUTOMARKETING_DATABASE_ECHO=false
AUTOMARKETING_SEED_DEMO_DATA=true
AUTOMARKETING_BOOTSTRAP_SCHEMA=false
AUTOMARKETING_OFFICIAL_REGISTRY_URL=https://registry.modelcontextprotocol.io/v0.1/servers
AUTOMARKETING_SERPAPI_BASE_URL=https://serpapi.com/search
AUTOMARKETING_SERPAPI_API_KEY=
AUTOMARKETING_GOOGLE_SEARCH_CONSOLE_BASE_URL=https://www.googleapis.com/webmasters/v3
AUTOMARKETING_GOOGLE_API_ACCESS_TOKEN=
